
.g-top{
  background-color: $zhGreen;
  height: 15%;
}

.g-middle{
  background-color: #ffff00;
  height: 65%;
}

.g-bottom {
  background-color: #1b6d85;
  height: 20%;
}

.g-info{

}
.g-area{
  position: absolute;
  background-color: #555;
  width: 100%;
  padding: 0;
  overflow: visible;
  bottom: 0;
//  text-align: center;
}
  .g-wrap{
    position: relative;
    margin: 0 auto;
    background-color: snow;
    overflow: visible;
  }
  .g-block{
    position: absolute;
    outline: none;
    font-size: 1.5em;
    border: 0 solid #ffff00;
    padding: 0;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
//    transition: all 0.5s;
//    -webkit-transition: all 0.25s;
    &:active{
      transition: transform 0.2s, box-shadow 0.2s;
      -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5) inset;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5) inset;
      background-color: red;
    }
  }

  .g-top{
    .g-top-container{
      position: relative;
      .g-score,.g-timeleft{
        font-size: 1.3em;
        font-weight: bolder;
        color: $zhYellow;
      }
    }
    .g-timebar{
      position: relative;
      height: 10px;
      background-color: $zhYellow;
      .g-barinner {
        display: block;
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background:linear-gradient(to left,yellow, red);
        transition: width 0.05s;
        -webkit-transition: width 0.05s;
        z-index: 1;
      }
    }
  }

.g-blockSelected{
  background-color: dodgerblue;
  color: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  transform: scale(0.9) !important;
  -webkit-transform: scale(0.9) !important;
  animation: selected 0.5s ease-in 0.2s;
  -webkit-animation: selected 0.5s ease-in 0.2s;
  z-index: 1;
}
$posdeg:5deg;
$negdeg:-5deg;
$s:5%;
$a:-5;
@keyframes selected {
  @for $i from 1 to 5{
    $posdeg:($posdeg+($i*-1))*-1;
    #{$i*$s}{
      transform: scale(1) rotateZ($posdeg);
    }
  }
  30%{transform: scale(1) rotateY(0deg);}
  50%{transform: scale(1.4) rotateY(180deg);box-shadow: 10px 10px 1px 3px rgba(0,0,0,0.5)}
  100%{transform: scale(0.9) rotateY(360deg)}
}
@-webkit-keyframes selected {
  @for $i from 0 to 5{
    $posdeg:$posdeg*-1;
    #{$i*$s}{
      transform: scale(1) rotateZ($posdeg);
    }
  }
  30%{-webkit-transform: scale(1) rotateY(0deg);}
  0%{-webkit-transform: scale(1) rotateY(0deg)}
  50%{-webkit-transform: scale(1.4) rotateY(180deg);box-shadow: 10px 10px 1px 3px rgba(0,0,0,0.5)}
  100%{-webkit-transform: scale(0.9) rotateY(360deg)}
}