
.g-top{
  background-color: $zhGreen;
  height: 15%;
}

.g-middle{
  background-color: #ffff00;
  height: 65%;
}

.g-bottom {
  background-color: #1b6d85;
  height: 20%;
}

.g-info{

}
.g-area{
  position: absolute;
  background-color: #555;
  width: 100%;
  padding: 0;
  overflow: hidden;
//  text-align: center;
}
  .g-wrap{
    position: relative;
    margin: 0 auto;
    background-color: orangered;
  }
  .g-block{
    position: absolute;
    outline: none;
    background-color: $zhYellow;
    font-size: 1.5em;
    border: 0 solid #ffff00;
    padding: 0;
    &:active{
      background-color: red;
    }
  }

  .g-top{
    .g-top-container{
      position: relative;
      .g-score,.g-timeleft{
        font-size: 1.3em;
        font-weight: bolder;
        color: $zhYellow;
      }
    }
    .g-timebar{
      position: relative;
      height: 10px;
      background-color: $zhYellow;
      .g-barinner {
        display: block;
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background:linear-gradient(to left,yellow, red);
        transition: width 0.05s;
        -webkit-transition: width 0.05s;
        z-index: 1;
      }
    }
  }